.contact_container {
    height: 90%;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form_item {
    position: relative;
    width: 50%;
    margin-top: 2rem;
}

.contact_form_item input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--color-primary);
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-primary);
    background: var(--color--bg);
}
.contact_form_item input:focus {
    border-bottom: 1px solid #90ff90;
    transition: var(--transition);
}
.contact_form_item input:focus ~ label,
.contact_form_item input:not(:placeholder-shown) ~ label {
    color: #90ff90;
    transform: translateY(-1.2rem);
    transition: var(--transition);
}

.contact_form_item label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-light);
    pointer-events: none;
}

.contact_form_item textarea {
    width: 100%;
    height: 100px;
    overflow: hidden;
    resize: none;
    font-size: 1.2rem;
    color: var(--color-primary);
    background-color: var(--color--bg);
    border-bottom: 1px solid var(--color-primary);
}

.contact_form_item textarea:focus {
    border-bottom: 1px solid #90ff90;
    transition: var(--transition);
}
.contact_form_item textarea:focus ~ label,
.contact_form_item textarea:not(:placeholder-shown) ~ label {
    color: #90ff90;
    transform: translateY(-1.5rem);
    transition: var(--transition);
}

#btn {
    cursor: pointer;
    color: var(--color-primary);
    transition: var(--transition);
}

#btn:hover {
    color: #90ff90;
    border-bottom: 1px solid #90ff90;
    text-transform: uppercase;
    transition: var(--transition);
}