nav {
    display: flex;
    position: fixed;
    gap: 1rem;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    width: max-content;
    left: 50%;
    bottom: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    transform: translateX(-50%);
    z-index: 2;
}

nav a {
    display: flex;
    color: var(--color-light);
    background: transparent;
    font-size: 1.1rem;
    padding: .8rem;
    border-radius: 50%;
}
nav a:hover {
    background: rgba(0, 0, 0 .3);
}

nav a.active {
    background: var(--color-bg);
    color: #fff;
}